# Declare files that will always have LF line endings on checkout.
*.md text eol=lf
*.prop text eol=lf
*.json text eol=lf
*.yml text eol=lf
.git* text eol=lf
LICENSE text eol=lf
META-INF/* text eol=lf
META-INF/** text eol=lf
